<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.joan.raspberrypiandroidcryptosystem">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor">

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ShowDevices"
            android:label="Bluetooth Devices List">
        </activity>

        <activity
            android:name=".BindingRaspberryPi"
            android:label="Binding Raspberry Pi">
        </activity>

        <activity
            android:name=".OptionRTC"
            android:label="@string/option_rtc"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".OptionLed"
            android:label="@string/option_led"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".OptionEncryptDecrypt"
            android:label="@string/option_encrypt_decrypt"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".OptionRandom"
            android:label="@string/option_random"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".OptionSignatures"
            android:label="@string/option_signatures"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".OptionSignaturesGenerate"
            android:label="@string/option_signatures_generate"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".OptionSignaturesCorrupt"
            android:label="@string/option_signatures_corrupt"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".OptionSignaturesCheck"
            android:label="@string/option_signatures_check"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".OptionECDSA"
            android:label="@string/option_ecdsa"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".OptionI2C"
            android:label="@string/option_i2c"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".OptionTAP"
            android:label="@string/option_tap"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".OptionTAPTest"
            android:label="@string/option_tap_test"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".AccuratedInformation"
            android:label="Accurated Information" >
        </activity>

    </application>

</manifest>