<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.joan.raspberrypiandroidcryptosystem">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor">

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ShowDevices"
            android:label="Bluetooth Devices List">
        </activity>

        <activity
            android:name=".BindingRaspberryPi"
            android:label="Binding Raspberry Pi">
        </activity>

        <activity
            android:name=".OptionRTC"
            android:label="RTC Option"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".OptionLed"
            android:label="LED Option"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".OptionEncryptDecrypt"
            android:label="Encrypt Decrypt Option"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".OptionRandom"
            android:label="Random Option"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".OptionSignatures"
            android:label="Signatures Option"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".OptionECDSA"
            android:label="ECDSA Option"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".OptionI2C"
            android:label="I2C Option"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".OptionTAP"
            android:label="TAP Option"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".AccuratedInformation"
            android:label="Accurated Information" >
        </activity>

    </application>

</manifest>